
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #4a2e4f 0%, #1d1d3a93 100%);
    filter: drop-shadow(0 0 20px rgb(74, 150, 226));
    display:flex;
    align-content: center;
  }

.container{
    position:relative;
    width:100%;
    height:100vh;
    overflow: hidden;
}

.bubbles{
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    width:30px;
    height:30px;
    background: #4fc3dc;
    margin:0 2px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s/ var(--i));
}

.bubbles span:nth-child(even)
{
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}

@keyframes animate
{
    0%
    {
        transform:translateY(100vh) scale(0);
    }
    100%
    {
        transform:translateY(-10vh) scale(1);
    }
}
.lion-container{
    background:linear-gradient(260deg, #fffd8a 0%, #ef4242 100%);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:rgb(2, 20, 32);
    display:flex;
    width: 25rem;
    height:10rem;
    border-radius: 1.2rem;
    padding:1rem;
    font-family:"Mochiy Pop One";
    align-items: center;
    justify-content: space-between;
}

.text{
    width:60%;
}


.lion-title{
    padding-left: 0.5rem;
    font-size: 1rem;
    font-weight:lighter;
    color:rgb(184, 7, 7)
}

.lion-subtitle{
    padding:0.5rem;
    font-size : 0.8rem;
    font-weight: regular;
}


a{
    float:right;
    position: relative;
    background:#4a2e4f;
    color:#ffffff;
    width: 80px;
    height:50px;
    bottom: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    padding-top: 5px;
    padding-bottom: 15px;
    padding:10px, 30px;
    transition: 0.5s;
    border-radius: 0.3rem;
}

a:hover{
    letter-spacing: 0.15em;
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

a::before{
    content:'';
    position: relative;
    inset: 2px;
    background: rgb(255, 255, 255);
}

a span{
    position: relative;
    z-index: 1;
}

a i{
    position:absolute;
    inset:0;
    display: block;
}

a i::before{
    content:'';
    position: absolute;
    border: 2px solid var(--clr);
    top: -3.5px;
    left: 20%;
    width:10px;
    height:2px;
    background: #ff0000;
    transform: translateX(-50%);
    transition:0.5s;

}
a:hover i::before{
    width:20px;
    left: 80%
}

a i::after{
    content:'';
    position: absolute;
    border: 2px solid var(--clr);
    bottom: -3.5px;
    left: 80%;
    width:10px;
    height:2px;
    transform: translateX(-50%);
    background: #ff0000;
    transition:0.5s;

}
a:hover i::after{
    width:20px;
    left: 20%
}
